body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

.menu a {
    margin: 10px;
    padding: 10px;
    background: gold;
    text-decoration: none;
    color: black;
}

input {
    margin: 10px;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: orange;
    border: none;
    cursor: pointer;
}

#timerBox {
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
    color: darkred;
}

.elite-mode {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#gameOver {
    margin-top: 20px;
    color: red;
}